.columnForm {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.columnLabel {
  margin-left: 10px;
}

.cardForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}