@import '../../styles/settings.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.nav {
  background-color: darken($color-dark, 3%);
  padding: .5rem 2rem;
  font-weight: bold;

  span {
    font-size: 24px;
  }

  ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
  }

  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  li a:hover {
    border-bottom: 2px solid white;
  }
}